@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2c3e50;
  --secondary-color: #1abc9c;
  --foreground-color: black;
  --background-color: white;
}

html,
body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}
